#t-e585a70a-054e-4866-8468-878edabb9618 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#t-e585a70a-054e-4866-8468-878edabb9618 > #alignmentBox {
  position: relative;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Image_1 {
  position: absolute;
  width: 1277.6290322580646px;
  height: 57.11103100216298px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 {
  position: absolute;
  width: 1280.0000000000002px;
  min-height: 59.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_1 span {
  color: #0D6EFD;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_1 span#rtr-t-Paragraph_1_0 {
  color: #0D6EFD;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 9.75pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_191 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 {
  position: absolute;
  width: 148.59494500879111px;
  min-height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_24 span#rtr-t-Rectangle_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Table_6 {
  position: absolute;
  width: 146.0px;
  height: 119.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .Cell_77 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .Cell_77 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_77 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_28 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_32 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_32 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_32 span#rtr-t-Paragraph_32_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .Cell_78 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .Cell_78 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_78 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_29 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_29 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_29 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_29 span#rtr-t-Paragraph_29_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .Cell_79 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .Cell_79 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_79 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_30 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_30 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_30 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_30 span#rtr-t-Paragraph_30_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 {
  position: absolute;
  width: 36.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_1 {
  position: absolute;
  width: 17.0px;
  height: 17.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 {
  position: absolute;
  width: 36.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 3.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 3.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_3 span#rtr-t-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_176 {
  position: absolute;
  width: 16.0px;
  height: 19.5px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 {
  position: absolute;
  width: 242.5949287547587px;
  min-height: 130.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_27 span#rtr-t-Rectangle_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Table_8 {
  position: absolute;
  width: 238.35844211321864px;
  height: 119.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .Cell_84 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .Cell_84 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_84 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_35 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_36 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_36 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_36 span#rtr-t-Paragraph_36_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .Cell_85 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .Cell_85 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_85 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_36 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_37 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_37 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_37 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_37 span#rtr-t-Paragraph_37_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 {
  width: 100.0%;
  height: 33.333333333333364%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .Cell_86 > * {
  margin-right: 10px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .Cell_86 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_86 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_37 {
  width: 9.000091552734375px;
  height: 9.040339469909668px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_38 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_38 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_38 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_38 span#rtr-t-Paragraph_38_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_57 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  cursor: pointer;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 {
  position: absolute;
  width: 218.00000000000045px;
  min-height: 261.9999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 7px rgba(185,185,185,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Rectangle_4 span#rtr-t-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Table_3 {
  position: absolute;
  width: 215.2405063291137px;
  height: 249.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 {
  width: 100.00000000000004%;
  height: 20.00000000000001%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .Cell_38 > * {
  margin-right: 13px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .Cell_38 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_38 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_12 {
  width: 13.0px;
  height: 16.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_11 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_11 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_11 span#rtr-t-Paragraph_11_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 {
  width: 100.00000000000004%;
  height: 20.00000000000001%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .Cell_39 > * {
  margin-right: 13px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .Cell_39 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_39 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_13 {
  width: 16.0px;
  height: 14.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_12 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_12 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_12 span#rtr-t-Paragraph_12_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 {
  width: 100.00000000000004%;
  height: 20.00000000000001%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .Cell_40 > * {
  margin-right: 13px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .Cell_40 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_40 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Path_14 {
  width: 16.0px;
  height: 16.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_13 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_13 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_13 span#rtr-t-Paragraph_13_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 {
  width: 100.00000000000004%;
  height: 20.00000000000001%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .Cell_41 > * {
  margin-right: 13px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .Cell_41 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_41 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Union_2 {
  width: 14.0px;
  height: 13.894989013671875px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_14 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_14 span#rtr-t-Paragraph_14_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 td.layout {
  padding: 0px 0px 0px 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .verticalalign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 {
  width: 100.00000000000004%;
  height: 20.00000000000001%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .Cell_42 > * {
  margin-right: 13px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .Cell_42 > *:last-child {
  margin-right: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Cell_42 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Union_3 {
  width: 16.0px;
  height: 15.762691497802734px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_15 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_15 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_15 span#rtr-t-Paragraph_15_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 input::-webkit-input-placeholder {
  color: #212529;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 input::-moz-placeholder {
  color: #212529;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 input:-moz-placeholder {
  color: #212529;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 input:-ms-input-placeholder {
  color: #212529;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 {
  position: absolute;
  width: 405.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 .valign {
  vertical-align: middle;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 input {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CED4DA;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CED4DA;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CED4DA;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CED4DA;
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_4 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 #t-Paragraph_4 span#rtr-t-Paragraph_4_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#t-e585a70a-054e-4866-8468-878edabb9618 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}