#m-95d35c04-c92b-4e04-b246-e4066a69ea34.master {
  transform: translate(0px,-1px);
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_5 {
  position: absolute;
  width: 26.389434814453125px;
  height: 26.389434814453125px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_1 {
  position: absolute;
  width: 16.596023559570312px;
  height: 28.309999465942383px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Didot',Arial;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_5 {
  position: absolute;
  width: 26.389434814453125px;
  height: 26.389434814453125px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_1 {
  position: absolute;
  width: 16.596023559570312px;
  height: 28.309999465942383px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34.master {
  transform: translate(0px,-1px);
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 700;
  text-transform: none;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Didot',Arial;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_16 span#rtr-Paragraph_16_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Didot',Arial;
  font-size: 17.25pt;
  font-weight: 400;
  text-transform: none;
}
#loadMark-m-95d35c04-c92b-4e04-b246-e4066a69ea34 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}